<div className="App">
  <h1>Content Editor</h1>
  
  <div>
    <form action="/load" method="POST" enctype="multipart/form-data">
      <label for="upload">Content: </label>
      <input type="file" id="upload" name="upload" multiple></input>
      <br></br>
      <input type="submit" value="Load">
    </form>

    <ul style="display:flex;list-style:none">
    <% for (let i = 0; i < files.length; i++) { %>
      <li>
        <img src="<%= files[i].substring(files[i].indexOf("/tmp/")) %>" width="250" height="250"> 
      </li>
    <% } %>
    </ul>

    <form action="/submit" method="POST" enctype="multipart/form-data">
      <%# who %>
      <label for="performers">Performers: </label>
      <input type="text" id="performers" name="Performers" value="<%= Performers %>"></input>
      <br></br>
      <%# what %>
      <label for="type">Type: </label>
      <select id="type" name="type">
        <option disabled selected>Select a content type:</option>
        <% contentTypes.forEach(function(option){ %>
            <option value="<%= option %>" <% if (preselectedValue === option) { %>selected<% } %>><%= option %></option>
        <% }); %>
      </select>
      <br></br>
      <%# where %>
      <label for="location">Location: </label>
      <input type="text" id="location" name="Location" value="<%= Location %>"></input>
      <br></br>
      <%# when %>
      <label for="date">Date: </label>
      <input type="text" id="date" name="Date" value="<%= Date_ %>"></input>
      <br></br>
      <%# why %>
      <label for="cost">Cost: </label>
      <input type="text" id="cost" name="Cost" value="<%= Cost %>"></input>
      <br></br>
      <%# Content Info %>
      <label for="fee">Fee: </label>
      <input type="text" id="fee" name="Fee" value="<%= Fee %>"></input>
      <br></br>
      <label for="max">Max: </label>
      <input type="number" id="max" name="Max" value="<%= Max %>"></input>
      <br></br>
      <label for="title">Title: </label>
      <input type="text" id="title" name="Title" value="<%= Title %>"></input>
      <br></br>
      <label for="description">Description: </label>
      <input type="text" id="description" name="Description" value="<%= Description %>"></input>
      <br></br>
      <label for="collection">Collection: </label>
      <input type="text" id="collection" name="Collection" value="<%= Collection %>"></input>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>